body {
    background-image: url("./assets/img/nubes.png");
}

#btn-heart {
    width: 45px;          
    height: 45px;         
    border-radius: 5;     
    display: flex;        
    align-items: center;
    justify-content: center;
    padding: 0;           
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 0px black;

}
.btn-heart :active{
    color: rgb(202, 0, 0);
}

